# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"
      - run: npm ci
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
          cache: "npm"
      - run: npm ci

      - name: Determine dist-tag
        id: dist_tag
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            const semver = require("semver");
            const version = require(`${process.env.GITHUB_WORKSPACE}/package.json`).version;
            const parsed = semver.parse(version);
            return parsed.prerelease.length ? "--tag next" : "";

      - name: Publish to NPM
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
          TAG: ${{ steps.dist_tag.outputs.result }}
        run: npm publish $TAG
